@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF;
    color: #000000;
  }

  * {
    box-sizing: border-box;
  }
}
