@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF;
    color: #000000;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .perspective {
    perspective: 20000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
}

button {
  cursor: pointer;
}
